<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <span>
          <a href="newsguidelines.html">Guidelines</a> |
          <a href="mailto:hn@ycombinator.com">Support</a> |
          <a href="newsfaq.html">FAQ</a>|
          <a href="https://github.com/HackerNews/API">API</a> |
          <a href="lists">Lists</a> |
          <a href="bookmarklet.html">Bookmarklet</a> |
          <a href="http://www.ycombinator.com/legal/">Legal</a> |
          <a href="http://www.ycombinator.com/apply/">Apply to YC</a> |
          <a href="mailto:hn@ycombinator.com">Contact</a> |
        </span>

        <form class="form" method="get" action="//hn.algolia.com/">
          Search: <input name="q" size="17" type="text">
        </form>

      </div>
    </div>
  </div>